

  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto:wght@300;400&display=swap');

  
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto:wght@300;400&family=Work+Sans:wght@300&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto:wght@300;400&family=Work+Sans:wght@300&display=swap');
*{
    padding:0px ;
    margin:0px ;
    font-family: 'Roboto', sans-serif;
    
    
}







.fontstyle{

    font-family: 'Roboto', sans-serif;
}

/* NAV BAR CASCADING STYLE */
.navbox{
  
    font-size: .9375rem;
    
    height:70px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    position: sticky; /* Set the navbar to sticky position */
    top: 0; /* Position it at the top of the viewport */
    z-index: 1; 
    margin-left:251px;
    
    background-color: white;
    
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;

    
}

.navbox.shadow-on-scroll {
    box-shadow: 5 2px 4px rgba(0, 0, 0, 0.1); /* Customize the shadow properties as needed */
  }

.imgo{
    margin-top:15px;
    padding-top:0px;
    width:268px;
    height:33px;
}
nav {
    margin-right:39px;
    width:252px;
    height:69.9px;
    
    
}
.lignfix {
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    padding-top:26px;
    
}
ul{
    list-style-type:none ;
   
} 


a.col , .dropdown{
    color: #ababab;
}
a{
    text-decoration: none;
    color: #ababab;
}   

.lignfix .col:active ,.lignfix .col a:active {
    color: #00b39b;
}
.lignfix .col:hover ,.lignfix .col a:hover {
    color: #00b39b;
}
.lignfix .col:focus ,.lignfix .col a:focus {
    color: #00b39b;
}


.dropdown-content a {
    display: block;
    width: 213px;
    padding-top:8px;
    padding-bottom: 8px;
    padding-left: 7px;
    margin-bottom: 7px;
    margin-top: 7px;
    
   
}
.dropdown-content li:hover {
    
    background-color: rgb(249, 245, 245) ; 
    
  }




/* dropdown integration */
.dropdown {
    position: relative;
    display: block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
    padding-top: 10px;
    
    z-index: 1;
    
    
  }
  
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    margin: 0px -108px 0px;
    
  }
  .deco{
    display: none;
}

  /* NAVBAR responsivity */

  

.seco {

    font-weight: 400;
    font-family: Roboto,Arial,sans-serif;
    color: #747474;
    padding-top: 33px !important;
    -webkit-font-smoothing: antialiased;


}

.tito {
    display:block;
    margin: 1em 0;
    font-family: Work Sans,Arial,sans-serif;   
     font-weight: 300;
    letter-spacing: 0.3px;
    font-size: 2.125rem;
    color: #00b39b;
}

.secto {

    display:flex;
    flex-direction: column;
    
    align-items: center;
    max-width: 1015px;
    margin:0 auto;

}
.arti{

    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start ;
}
 p{
    padding-right: 15px;
    padding-left:0px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 2em 0;
    line-height: 1.75;
    font-weight: 400;
    color: #747474;;
 }

 .lead{
    margin-left: 30px !important;
 }


 .trio {
    z-index: 1;
    display:flex;
    flex-direction: row;
    justify-items: stretch;

    font-weight: 400;
    font-family: Roboto,Arial,sans-serif;
    color: #747474;
    padding-top: 33px !important;
    align-items: center;
    justify-content: center;
    max-width: 1015px;
    margin:0 auto;
 }
.triono {
    
    display:flex;
    flex-direction: row;
    justify-items: stretch;
    align-content:center;
    margin:0 auto;
    gap: 20px;
    padding: 0px;
    
    
}
 .partuno , .partseco , .parttrio {
    background-color: rgb(71,200,182);
    height:345px;
    width:312px;
    border-radius: 10px;
    

 }

 .unopading {
    display:flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: space-around;
    align-content: center;
    background-color:#00CCB1 ;
    height:345px;
    padding-left:32px;
    background-color: transparent;
    border-radius: 10px;
    
   
 }

 .partseco{

    background-color:#3d83df ;

 }

 .parttrio {
    background-color:#1b2734 ;


 }
 .uno{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px; /* Set the spacing between div elements */
    
 }
 .uno > img{
    display: block;
 }
 .uno h2  {
    
    color: white ;
    letter-spacing: 0.3px;
    font-size: 1.625em;
    font-family: Work Sans,Arial,sans-serif;
 }
.uno p{
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    margin: 0;
    color: #fff;
    letter-spacing: 0.3px;
    font-family: Work Sans,Arial,sans-serif;
    


}
 

button, input, optgroup, select, textarea {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    background: none;
    border: 0;
    color: #fff;
    font-family: Roboto,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: .04em;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: underline  !important;
    
    
}

.services .style-select select {
    width: 100%;
    background: transparent;
    border: 0;
    border-radius: 0;
    padding: 0 2em 0 0;
    color: black;
    outline: 0;
    text-transform: none;
    
    cursor: pointer;
}
.services .style-select:last-child {
    margin-bottom: 35px;
}


option{
    color:black;
}




    
  .section4{
    position: relative;
    background-color: #D9F6F6;
    width: 100%;
    height: 675px;
    overflow: hidden;
}
.platform{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2rem;
    width: 70%;
    margin: auto;
    padding: 20px;
}
.platform h2{
    font-size: 2.125rem;
    color: #00b39b;
    font-family: Work Sans,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
    padding-top: 70px;
}
.platform p{
    max-width: 415px;
    font-size: .875em;
    font-weight: 400;
    line-height: 1.7142857143;
    font-family: Roboto,Arial,sans-serif;
    color: #747474;
    padding-top: 20px;
}
.section4 .image{
   
        position: absolute;
        width: 456px;
        height: 435px;
        top: 45%;
        left: 10%;    
}

.cards{
    display: grid;
 grid-template-columns: 50% 50%;
 grid-template-rows: 50% 50%;
    gap: 20px;
}
.card{
    background-color: white;
    border-radius: 5px;
    text-align: center;
    padding: 25px;
    margin: 0;
}

.card h1{

    font-size: 1.8461538462em;
    color: #00b39b;
    font-family: Work Sans,Arial,sans-serif;
    font-weight: 300;
}
.translate{
    transform: translateY(20px);
}

.chinko{
    margin:0 auto;

}

.tito {
    display:block;
    margin: 1em 0;
    font-family: Work Sans,Arial,sans-serif;   
     font-weight: 300;
    letter-spacing: 0.3px;
    font-size: 2.125rem;
    color: #00b39b;
}

.secto {

    display:flex;
    flex-direction: column;
    
    align-items: center;
    max-width: 1015px;
    margin:0 auto;

}
.arti{

    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start ;
}



.final , .finalhead {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1015px;
    margin:0 auto;

}

.finalhead{
    max-width: 460px;
    margin: 0 auto 4.1875rem;
    font-size: .875em;
    text-align: center;
    letter-spacing: 0.3px;
    
}

.finalhead span {

    font-family: Work Sans,Arial,sans-serif;
    font-size: 2.1428571429em;
    letter-spacing: 0.3px;
     text-align: center;
     color: #00b39b;

}

.finalhead p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 0.99em;
    font-family: Roboto,Arial,sans-serif;
    
    padding-right:0px!important;
}

/* styles.css */
.chinko {
    max-width: 1015px;
    
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px; /* Adjust this value to set the spacing between cards */
  }
  
  .chinkocard {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    
    border-color: white;
  }
  
 
  
  .chinkocard h3 {
    margin: 10px 0;
  }

  .chinkocard img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 270px;
    border-top-right-radius: 10px;
    border-top-left-radius:10px ;
    
  }

  .chinkocard img:hover{
    padding:0px;
              
}
.chinkocard:hover {
    background-color:none;
    box-shadow: 
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.1),
              0 6px 20px rgba(0, 0, 0, 0.15);
              outline: none;
}



  

  .btn {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    outline: 0;
    border: 0;
    border-radius: 4px;
    padding: 1.1666666667em 1.5em;
    background: #3d83df;
    font-family: Roboto,Arial,sans-serif;
    line-height: 1em;
    color: #fff;
    font-weight: 700;
    letter-spacing: .04em;
    font-size: .75rem;
    text-align: center;
    text-decoration: none!important;
    text-transform: uppercase;
    transition: all .2s ease 0s;
}

.btn--small {
    font-size: .625rem;
    padding: 1em 1.5em;
}

.subtitle{
    padding:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.chinkocard .subtitle  {
    font-size: 1.125em;
    font-weight: 400;
    font-family: Roboto,Arial,sans-serif;
    color: #747474;
}


  
@media (max-device-width: 480px) { 

    body {
        padding-top: 50px;
    }
    
    nav , .lignfix{
        display: none;
        
    }
    
    .imgo{
        margin-top:5px;
        margin-bottom: 5px;
        margin-right:20px;
        width: 250px;
        height:40px;
    }

    img.deco{

        width: 25px;
        height:25px;


    }
    .deco{
        display: inline-block;
        padding:10px 10px 10px 10px;
        margin: 0px 30px 0px 0px;
        width: 30px;
        height:20px;
        

    }

    
    .navbox {
        position: fixed;

        height: 30px;
        display: flex; 
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width:100%;
        margin:0 auto;
        padding:20px;
        
        

    }
    .secto h2{
        font-size: 1.875em;
        text-align: center;
    }
    .secto{
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:center;
        margin: 0 auto;
    }

    .imgt {

        width:40px;
        height: 40px;
    
    }

    .seco {

        font-weight: 400;
        font-family: Roboto,Arial,sans-serif;
        color: #747474;
        padding-top: 20px !important;
        -webkit-font-smoothing: antialiased;
        width:375px;
        margin: 0 auto;
    
    }

    
    .arti {

        display:flex;
        flex-direction: column;
        justify-content: center;
        align-content: center ;
        margin:5px ;
    }

    .arti ,.lead {
        
        display: block;
        margin: 0px !important;
        
        line-height: 1.75;
        font-weight: 400;
        color: #747474;
    }
    .trio {
        z-index: 1;
    display:flex;
    flex-direction: column;
    justify-items: stretch;

    font-weight: 400;
    font-family: Roboto,Arial,sans-serif;
    color: #747474;
    padding-top: 33px !important;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    margin:0 auto;

 }
.triono {
    
    display:flex;
    flex-direction: column;
    justify-items: stretch;
    align-content:center;
    margin:0 auto;
    gap: 20px;
    padding: 0px;
    
    
}
 .partuno , .partseco , .parttrio {
    background-color: rgb(71,200,182);
    height:345px;
    width:312px;
    border-radius: 10px;
    

 }

 
 .unopading {
    display:flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: space-around;
    align-content: center;
    background-color:#00CCB1 ;
    height:345px;
    padding-left:32px;
    background-color: transparent;
    border-radius: 10px;
    
   
 }

 .partseco{

    background-color:#3d83df ;

 }

 .parttrio {
    background-color:#1b2734 ;


 }
 .uno{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px; /* Set the spacing between div elements */
    
 }
 .uno > img{
    display: block;
 }
 .uno h2  {
    
    color: white ;
    letter-spacing: 0.3px;
    font-size: 1.625em;
    font-family: Work Sans,Arial,sans-serif;
 }
.uno p{
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    margin: 0;
    color: #fff;
    letter-spacing: 0.3px;
    font-family: Work Sans,Arial,sans-serif;
    


}
 

button, input, optgroup, select, textarea {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    background: none;
    border: 0;
    color: #fff;
    font-family: Roboto,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: .04em;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: underline  !important;
    
    
}

.services .style-select select {
    width: 100%;
    background: transparent;
    border: 0;
    border-radius: 0;
    padding: 0 2em 0 0;
    color: black;
    outline: 0;
    text-transform: none;
    
    cursor: pointer;
}
.services .style-select:last-child {
    margin-bottom: 35px;
}


option{
    color:black;
}


.platform{
    width: 90%;
    display: flex;
    flex-direction: column;

}
.platform  h2{
    text-align: center;
   
}
.platform  p{
    text-align: center;
}
.cards{
    width: 100%;
    z-index: 10;
    
}

.section4 .image{
   
  
    top: 80%;
    left: 10%;    
}

.final {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    margin-top: 1.875em;
    margin-bottom: 1.875em;
    zoom: 1;
    max-width: 1015px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
}
    .chinko{
           display:flex;
           flex-direction: column;
           align-items: center;

    }
    .chinkocard{
        border-style: none;
        box-shadow: #1b2734;
        
    }

}

  
    
